:root {
  --font-body: 'Helvetica Now', sans-serif;
  --font-code: 'Inconsolata', monospace;
  --font-heading: 'Playfair Display', serif;
  --font-quote: 'Lora', serif;

  --accent: #2b87ff;
  --black: #1a1a1b;
  --dark-grey: #252526;
  --light-grey: #f2f0ed;
  --white: #fdfcfb;

  --background: var(--white);
  --foreground: var(--black);
  --grey: var(--light-grey);

  @media (prefers-color-scheme: dark) {
    --background: var(--black);
    --foreground: var(--white);
    --grey: var(--dark-grey);
  }
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica Now';
  src: url('/fonts/HelveticaNow.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora.woff') format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata.woff') format('woff');
}

html { scrollbar-gutter: stable; }

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 8px;

  @media(min-width: 1150px) {
    padding-left: 300px;
    text-align: justify;

    main {
      header:has(h1) {
        border-width: 0px 2px 0px 0px;
        float: left;
        margin-left: -300px;
        padding-right: 24px;
        position: sticky;
        text-align: right;
        top: 1em;
        width: 250px;
        h1 { margin-left: auto; width: min-content; }
      }
    }
  }
}

body { font: 24px var(--font-body); }
h1 { font: 40px var(--font-heading); }
h2 { font: 30px var(--font-heading); }

header {
  nav {
    ul {
      display: flex;
      gap: 3ch;
      list-style: none;
      padding-inline-start: 0;

      @media(max-width: 600px) {
        font-size: 0.8em;
        gap: 0;
        justify-content: space-between;
      }
    }
  }
}

main {
  header {
    &:has(h1) {
      border-color: var(--accent);
      border-style: solid;
      border-width: 2px 0px 0px 0px;
    }
    h1, h2 { margin: 0px; }
    time { font-size: 0.8em; }
  }
}

a {
  text-decoration: none;
  header & { color: inherit; }
  main & { color: var(--accent); }
  &:hover { color: var(--accent); text-decoration: underline; }
}

::selection { background-color: var(--accent); color: var(--background); }
:focus-visible { outline-color: var(--accent); }
